<p>
    You can provide feedback on your experience using the MCA tool by clicking on the following link <span class="feedback">@{ Html.RenderAction(MVC.Layout.ActionNames.FeedBack, MVC.Layout.Name); }.</span>
</p>
