<?xml version="1.0" encoding="utf-8"?>
<DeploymentEvent xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/VisualStudio/DeploymentEvent/2013/06">
  <ProjectName>Sfw.Sabp.Mca.Web</ProjectName>
  <SourceControl type="TFS">
    <TfsSourceControl>
      <ProjectItemSpec>$/SBP_McaWebApplication/Release/Sfw.Sabp02/Sfw.Sabp.Mca.Web/Sfw.Sabp.Mca.Web.csproj</ProjectItemSpec>
      <ProjectVersionSpec>LSfw.Sbp02.Release_1.0.16126.1@$/SBP_McaWebApplication</ProjectVersionSpec>
    </TfsSourceControl>
  </SourceControl>
  <Build type="TeamBuild">
    <MSBuild>
      <BuildDefinition kind="informative, summary">Sfw.Sbp02.Release</BuildDefinition>
      <BuildLabel kind="label">Sfw.Sbp02.Release_1.0.16126.1</BuildLabel>
      <BuildId kind="id">d218620b-cd94-41af-84eb-088886be6c96,vstfs:///Build/Build/24127</BuildId>
      <BuildTimestamp kind="informative, summary">Thu, 05 May 2016 08:43:21 GMT</BuildTimestamp>
      <Configuration kind="informative">Release</Configuration>
      <Platform kind="informative">AnyCPU</Platform>
      <BuiltSolution>$/SBP_McaWebApplication/Release/Sfw.Sabp02/Sfw.Sabp.Mca.sln</BuiltSolution>
    </MSBuild>
  </Build>
</DeploymentEvent>